# ======================
# Node.js
# ======================
node_modules/

# ======================
# Environment variables
# ======================
.env

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Sistema Operativo
# ======================
.DS_Store
Thumbs.db

# ======================
# Build (caso exista)
# ======================
dist/
build/
